/* ===== GLightbox overrides ===== */
.glightbox-clean .gdesc-inner {
  padding: 0 !important;
}
.glightbox-clean .gslide-title {
  margin-bottom: 0 !important;
  padding: 5px 12px !important;
  font-size: 12px !important;
}

/* 控制底部描述容器高度 */
.gdesc-inner {
  padding: 5px 5px !important;
  margin-left: 10px;
}

.gslide-image img {
  max-height: calc(100vh - 60px) !important;
}

html.glightbox-open,
body.glightbox-open {
  overflow: auto !important;
}

.gslide-desc {
  color: #23272e;
}

.aps-figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.aps-figure > a {
  display: block;
}
.aps-figure img {
  display: block;
}
.aps-figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  font-size: 12px;
  color: #fff;
  background: linear-gradient(to right, rgba(0,0,0,0.8), transparent);
}